// helpers



// padding
for num in (1..20)
    .p-t-{num*5}
        padding-top num*5
    .p-r-{num*5}
        padding-right num*5
    .p-b-{num*5}
        padding-bottom num*5
    .p-l-{num*5}
        padding-left num*5
    .p-l-r-{num*5}
        padding-left num*5
        padding-right num*5
    .p-t-b-{num*5}
        padding-top num*5
        padding-bottom num*5
// not padding
.n-p 
    padding 0 !important
.n-p-t
    padding-top 0 !important
.n-p-l
    padding-left 0 !important
.n-p-r
    padding-right 0 !important
.n-p-b
    padding-bottom 0 !important


// margin

for num in (1..20)
    .m-t-{num*5}
        margin-top num*5
    .m-r-{num*5}
        margin-right num*5
    .m-b-{num*5}
        margin-bottom num*5
    .m-l-{num*5}
        margin-left num*5
    .m-l-r-{num*5}
        margin-left num*5
        margin-right num*5
    .m-t-b-{num*5}
        margin-top num*5
        margin-bottom num*5

.n-m 
    margin 0 !important
.n-m-t
    margin-top 0 !important
.n-m-l
    margin-left 0 !important
.n-m-r
    margin-right 0 !important
.n-m-b
    margin-bottom 0 !important