@import '../core/variables.styl'
// Sidebar
.sidebar
	&__title
		border-bottom: 1px solid colors.success
	&__menu
		li
			padding 10px 0px
			a
				padding-left 10px
				text-decoration none
				color: colors.success
				font-weight 900
				display block
			&:hover
				background: colors.success
				a
					color: colors.white
