@import '../core/variables.styl'
// Sidebar
.sidebar
	background: colors.white
	&__title
		border-bottom: 1px solid colors.success
	&__menu
		li
			a

				padding 10px 0px 10px 10px
				text-decoration none
				color: colors.success
				font-weight 900
				display block
			&:hover
				background: colors.success
				a
					color: colors.white
