// colors

color = {
    default : #eee,
    primary : #083358,
    success : #43A367,
    info : #167A8B,
    warning : #FBB040,
    danger : #E14242,

    white : #fff,
    black : #000,
    gray : #505458

}



// medidas

medidas = {

    movil : 480px,
    tablet : 768px,
    web: 1024px

}
