@import "variables.styl"



.btn
    border-radius 6px
    padding 8px 12px
    cursor pointer
    outline none
    color: colors.button
    font-family: fonts.title
    font-size 1em

.btn-large
    font-size 1.12em
for key, value in colors
    .btn-{key}
        background: value
        border: 2px solid darken(value, 20%)
        transition .2s ease all
        &:hover
            background: darken(value, 20%)

for key, value in colors
    .btn-{key}-light
        color: value
        background transparent
        border: 2px solid darken(value, 20%)
        transition .2s ease all
        &:hover
            color: colors.white
            background: darken(value, 20%)


.button-group
    display flex
    flex-wrap wrap
    .btn
        border-radius 0px !important
        border none !important
    .btn:first-child
        border-top-left-radius 6px !important
        border-bottom-left-radius 6px !important
        border none !important
    .btn:last-child
        border-top-right-radius 6px !important
        border-bottom-right-radius 6px !important
        border none !important
